.lst-srch {
    display: none;
}
table.list {
  width: calc(100% - 10px);
  border-collapse: collapse;
  margin: 5px;
}
table.list thead td, table.list thead td * {
  color: white;
  background-color: black;
}
table.list thead td {
  font-weight: bold;
}
table.list thead td span:last-of-type {
  float: right;
  font-size: 20px;
  margin: -3px 3px 0 0;
  font-weight: normal;
}
table.list td {
  border: 1px solid black;
  padding: 3px;
  width: 50%;
  cursor: pointer;
}
table.list thead td {
  border-bottom: none;
}
table.list tr td.count {
  text-align: right;
}
table.list thead td:first-of-type {
  border-right: 1px solid white;
}
.lst-it:nth-child(even) {
  background-color: var(--color-medium);
}
.lst-dtl {
  display: none;
}
div.compare div.bar {
  background-color: var(--color-dark);
  height: 10px;
  display: inline-block;
}
.tip-title {
  padding: 3px;
}
.tip-title * {
  display: inline-block;
  margin: 0;
}
div.leg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
}
div.leg h3 {
  max-width: 150px;
  font-weight: bold;
  margin: 0;
}
div.leg div.it div {
  display: inline-block;
}
div.leg .sym {
  opacity: .5;
  border: 2px solid rgba(255,255,255,.5);
  width: 16px;
}
#dataset, #normal {
  width: calc(100% - 10px);
  margin: 5px 5px 0;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #tabs>.btns {
    display: table;
  }
}

/* choropleth.css */
.choro select.count {
  margin-bottom: 3px;
  width: 100%;  
}
#filters .choro .apply {
  border: none;
  background-color: #efefef;
  color: #000;
  border: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100px;
  float: right;
}
.clps {
  margin-bottom: 3px;
}
label div.clr div {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid white;
  opacity: .5;
  margin-top: 7px;
}