.lst-srch {
    display: none;
}
table.list {
  width: calc(100% - 10px);
  border-collapse: collapse;
  margin: 5px;
}
table.list thead td, table.list thead td * {
  color: white;
  background-color: black;
}
table.list thead td {
  font-weight: bold;
}
table.list thead td span:last-of-type {
  float: right;
  font-size: 20px;
  margin: -3px 3px 0 0;
  font-weight: normal;
}
table.list td {
  border: 1px solid black;
  padding: 3px;
}
table.list thead td:first-of-type {
  border-right: 1px solid white;
}
.lst-it:nth-child(even) {
  background-color: var(--color-medium);
}
div.geostats-legend {
  width: 150px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(255,255,255,.5);
  padding :5px;
}
div.geostats-legend-title {
  font-weight: bold;
}
div.geostats-legend div {
  display: table-row;
  margin-bottom: 3px;
}
div.geostats-legend div.geostats-legend-block {
  display: table-cell;
  height: 14px;
  opacity: .5;
  border: 2px solid white;
  width: 16px;
  margin-right: 5px;
  float: left;
}
div.geostats-legend, div.geostats-legend div.geostats-legend-title {
  display: block;
}
#dataset {
  width: calc(100% - 10px);
  margin: 5px 5px 0;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #tabs>.btns {
    display: table;
  }
}

/* choropleth.css */
.choro select.count {
  margin-bottom: 3px;
  width: 100%;  
}
#filters .choro .apply {
  display: inline-block;
  border: none;
  background-color: #efefef;
  color: #000;
  border: 1px solid #ddd;
}
.choro .apply, .choro .cancel {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  min-width: 100px;
}
.clps {
  margin-bottom: 3px;
}
label div.clr div {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  border: 1px solid white;
  opacity: .5;
  margin-top: 7px;
}